<div class="row">

  <div class="panel panel-default">
    <div class="panel-heading">Registros en sistema</div>
    <div class="panel-body">
      <div class="responses">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key%>">
            <%= simple_format value%>
          </div>
        <% end %>
      </div>
      <a href="<%=pruenew_url%>" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo Registro</a>
      <div class="clearfix">
      </div>
      <table class="table datatable">
        <thead>
          <tr>
            <th>Nº</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @t_result.each do |row|%>
          <tr>
            <td><%= row.pru_cont%></td>
            <td><%= row.pru_desc.titleize%></td>
            <td><%= row.pru_date%></td>
            <td>
              <a href="<%= prueshow_path(row.pru_cont)%>" class="btn btn-xs btn-default"><i class="fa fa-search"></i> Ver</a>
              <a href="<%= prueedit_path(row.pru_cont)%>" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i> Modificar</a>
              <a onclick="borrar(<%=row.pru_cont%>)" class="btn btn-xs btn-danger mostrar"><i class="fa fa-trash"></i> Borrar</a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <script>
function borrar(id) {
  $.ajax({
    url: "<%= pruedelete_url%>",
    type: "POST",
    contextType: "json",
    data: {authenticity_token: window._token,
            form: {
              id: id
            }
          },
    success: function(data, textStatus, jqXHR){
      if (data != null) {
        if (data["tipo"] == "success") {

        }
        $(".responses").html("<div class='alert alert-"+data["tipo"]+"'>"+data["mensaje"]+"</div>")

      }else{
        $(".responses").html("<div class='alert alert-danger'> Error, intente más tarde</div>")

      }
      console.log(data);
    },
    error: function(data, textStatus, jqXHR){
      console.log(jqXHR);
    }
  });
}

$(".mostrar").on('click', function(event) {
    $(this).parent().parent().remove();
});

  </script>

</div>
