<!DOCTYPE html>
<html>
  <head>
    <title>Perfilamiento</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Auditoría UPC</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="<%= home_url%>">Inicio</a></li>

          </ul>
          <div class="col-sm-6 col-md-6">
            <form class="navbar-form" role="search">
              <%= form_tag("#{home_url}", id: :form, method: :get) do %>
                <div class="input-group">
                  <div class="input-group-btn" >
                          <button type="button" class="btn btn-search btn-default dropdown-toggle" data-toggle="dropdown" >
                              <span class="glyphicon glyphicon-user"></span>
                              <span class="label-icon">Busca Persona</span>
                              <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu pull-left" role="menu">
                             <li>
                                  <a onclick="cambiar('persona')">
                                      <span class="glyphicon glyphicon-user"></span>
                                      <span class="label-icon">Buscar Persona</span>
                                  </a>
                              </li>
                              <li>
                                  <a onclick="cambiar('registro')">
                                  <span class="fa fa-newspaper-o"></span>
                                  <span class="label-icon">Buscar Registros</span>
                                  </a>
                              </li>

                          </ul>
                      </div>

                    <input type="text" class="form-control" placeholder="Buscar" name="search" id="search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                    <select class="" name="per" id="env" style="display: none;">
                      <option value="persona">Persona</option>
                      <option value="registro">Registros</option>
                    </select>
                </div>
              <% end %>
            </form>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="<%= login_url%>"><span class="glyphicon glyphicon-log-in"></span> Iniciar sesión</a></li>
          </ul>

        </div>
      </div>
    </nav>
    <div class="container">
        <%= yield %>
    </div>

    <script type="text/javascript">
        $(function(){
         $(".input-group-btn .dropdown-menu li a").click(function(){
             var selText = $(this).html();
            $(this).parents('.input-group-btn').find('.btn-search').html(selText);
          });
        });
        function cambiar(data) {
          $("#env").val(data);
        }
      </script>
  </body>
</html>
